<section class="bd-footer py-4 py-md-5 mt-5 bg-body-tertiary">
    <div class="container py-4 py-md-5 px-4 px-md-3 text-body-secondary ">
        <div class="row">
            <div class="col-6 col-lg-2 offset-lg-1 mb-3">
                <h6>KẾT NỐI</h6>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="/">Home</a></li>
                    <li class="mb-2"><a>Số điện thoại: 0764052456</a></li>
                    <li class="mb-2"><a>email:1951012085@ou.edu.vn</a></li>
                    <li class="mb-2"><a>Mai Minh Nhật</a></li>
                </ul>
            </div>
            <div class="col-6 col-lg-2 offset-lg-1 mb-3">
                <h6>THƯƠNG HIỆU</h6>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="/">CabiHouse</a></li>
                    <li class="mb-2"><a>Vua nệm</a></li>
                </ul>
            </div>
            <div class="col-6 col-lg-1 offset-lg-1 mb-3">
                <h6>ĐỊA CHỈ</h6>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="/address">Chi nhánh 1</a></li>
                    <li class="mb-2"><a href="/address">Chi nhánh 2</a></li>
                </ul>
            </div>
            <div class="col-6 col-lg-3 offset-lg-1 mb-3 contact-box">
                <h6>NHẬN TIN MỚI</h6>
                <form action="/subscribe" method="POST">
                    <div class="mb-1">
                        <label for="name" class="form-label">Tên</label>
                        <input type="text" class="form-control" id="name" name="name" required
                               placeholder="Nhập tên của bạn">
                    </div>
                    <div class="mb-1">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" name="email" required
                               placeholder="Nhập địa chỉ email của bạn">
                    </div>
                    <button type="submit" class="btn btn-custom">Gửi</button>
                </form>
            </div>

        </div>
    </div>
</section>
